<div class="hero-unit">
	<h1>Welcome to my x-rays site</h1>
	<p>
	  You've found the home page for the x-ray thing in ruby on rails!
	</p>
	<p>
	  <%= link_to "Learn More", about_path, class: "btn btn-primary btn-large pull-right" %>
	</p>
</div>